.postcard.create
  .rel
    .front
      .message
        .faces
        h3 Cozy Christmas and Exciting New Year!
        p All the best wishes from four of us of Lekevicius family. This year we made a little website where you can draw a postcard yourself and send it to others. Share the joy! <span class="byline"> - Alis, Aušra, Laima and Jonas</span>
        a.button.start-drawing Start Drawing!
        p.tip Tip: Press Space button to clear.
      .flip-button.postcard-button.right
        .text Flip
      canvas id='canvas' width='800' height="600"
    .back
      .flip-button.postcard-button.left
        .text Back
      .card= form_for @drawing do |f|
        .left
          .field
            = f.label :message, "Your Message (optional)"
            = f.text_area :message, placeholder: "Dear Santa,"
        .right
          .postmark
          .field
            = f.label :sender, "Your Name (optional)"
            = f.text_field :sender, placeholder: "Anonymous"
          / .field
          /   = f.label :email, "Recipient's email (optional)"
          /   = f.text_field :email, placeholder: "Email this to someone?"
          .field.checkmark
            = f.check_box :public
            = f.label :public, "This postcard is public, show in gallery"
          .actions
            = f.submit "Save"

a.back-link href=drawings_path
  | Gallery
  span Postcards by others
