@import "compass/utilities/general/clearfix";
@import "compass/css3";

$headings: 'abril-fatface', serif;
$body: 'rosario', sans-serif;;

html
{
  background: image-url("pageBackground.jpg") center center fixed;
  @include background-size('cover');
}
body
{
  text-shadow: 0 1px 0 rgba(#000, 0.01);
  font-family: $body;
}
#page
{
}
#content
{
  @include clearfix();
}
.clearfix
{
  @include clearfix();
}
.rel
{
  position: relative;
}
.wrap
{
  width: 800px;
  margin: 0 auto;
}

.page-wrap
{
  width: 800px;
  margin: 0 auto;
  @include clearfix();
}

.button
{
  display: block;
  text-align: center;
  cursor: pointer;
}

.postcard-button
{
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;
  
  &.left
  {
    left: 0;
    background: image-url('cardCornerLeft.png') left top no-repeat;
    .text
    {
      border-radius: 0px 6px 6px 6px;
    }
  }
  
  &.right
  {
    right: 0;
    background: image-url('cardCornerRight.png') right top no-repeat;
    .text
    {
      border-radius: 6px 0 6px 6px;
    }
  }
  
  .text
  {
    background: #fff;
    text-align: center;
    display: block;
    padding: 18px 36px;
    font-size: 24px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

a
{
  text-decoration: none;
}

.back-link
{
  position: absolute;
  top: 20px;
  left: 30px;
  width: 160px;
  background: image-url('backArrow.png') left center no-repeat;
  color: rgba(#000, 0.7);
  font-size: 20px;
  padding: 12px 0 12px 30px;
  
  span
  {
    display: block;
    font-size: 13px;
    opacity: 0.6;
    margin-top: 2px;
  }
}

.postcard
{
  position: absolute;
  width: 820px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -410px;
  
  @include perspective(1000);
  
  .rel
  {
    @include transform-style(preserve-3d);
    @include transition-duration(0.7s);
    width: 820px;
    height: 600px;
    border-radius: 10px;
  }
  
  &.flipped
  {
    .rel
    {
      @include rotateY(180deg);
    }
    
    .front
    {
//      pointer-events: none;
    }
    
    .back
    {
    }
  }
  
  .front
  {
    position: absolute;
    @include backface-visibility(hidden);
    width: 820px;
    
    #canvas, img.drawing
    {
      border-radius: 10px;
      margin-left: 10px;
      box-shadow: 0 2px 6px 1px rgba(#000, 0.4);
      @include backface-visibility(hidden);
  
      &:focus
      {
        outline: none;
      }
    }
    
    .message
    {
      position: absolute;
      color: rgba(#000, 0.8);
      width: 400px;
      padding: 0 200px;
      height: 600px;
      background: image-url("cardFrontBackground.jpg") no-repeat;
      @include backface-visibility(hidden);
      margin-left: 10px;
      border-radius: 10px;
      
      .faces
      {
        display: block;
        width: 420px;
        height: 107px;
        margin-top: 60px;
        background: image-url("faces.png") center center no-repeat;
      }
      
      h3
      {
        font-family: $headings;
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        margin: 20px 0;
      }
      
      p
      {
        text-align: center;
        font-size: 18px;
        line-height: 1.4em;
        
        .byline
        {
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 10px;
        }
      }
      
      .start-drawing
      {
        padding: 16px;
        border: 1px solid rgba(#000, 0.2);
        margin: 20px 40px 0 40px;
        font-size: 24px;
        width: 280px;
        border-radius: 10px;
        
        &:hover
        {
          border: 2px solid rgba(#000, 0.4);
          padding: 15px;
        }
      }
      .tip
      {
        font-size: 14px;
      }
    }
    .flip-button
    {
      @include backface-visibility(hidden);
    }
  }
  
  .back
  {
    position: absolute;
    @include rotateY(180deg);
    @include backface-visibility(hidden);
    width: 820px;
    height: 600px;
    
    .flip-button
    {
      @include backface-visibility(hidden);
      .text
      {
        background: #add8dc;
        color: #fff;
      }
    }
    
    .card
    {
      position: absolute;
      background: image-url('cardBackBackground.png') no-repeat;
      width: 800px;
      height: 600px;
      border-radius: 10px;
      left: 10px;
      box-shadow: 0 2px 6px 1px rgba(#000, 0.4);
      @include clearfix;
      
      .left
      {
        float: left;
        width: 340px;
        margin: 40px 0 40px 30px;
      }
      
      .right
      {
        float: right;
        width: 340px;
        margin: 40px 30px 40px 0;
      }
      
      .postmark
      {
        width: 120px;
        height: 140px;
        margin: 0 0 54px auto;
        background: image-url('postmark1.png') no-repeat;
        
        &.face1 { background-image: image-url('postmark1.png'); }
        &.face2 { background-image: image-url('postmark2.png'); }
        &.face3 { background-image: image-url('postmark3.png'); }
        &.face4 { background-image: image-url('postmark4.png'); }
      }
      
      .field
      {
        margin-bottom: 20px;
        
        label, .label
        {
          display: block;
          font-size: 16px;
          opacity: 0.5;
        }
        
        textarea, .message
        {
          border: 0;
          background: transparent image-url("messageBackground.png");
          resize: none;
          width: 340px;
          height: 360px;
          font-size: 24px;
          line-height: 60px;
          font-family: $body;
          
          &:focus
          {
            outline: none;
          }
        }
        
        input[type=text], .from
        {
          border: 0;
          background: transparent;
          resize: none;
          width: 340px;
          font-size: 24px;
          padding: 8px 0;
          border-bottom: 1px solid rgba(#000, 0.3);
          font-family: $body;
          
          &:focus
          {
            outline: none;
          }
        }
        
        &.checkmark
        {
          margin-top: 30px;
          
          input + label
          {  
              display: inline-block;
              cursor: pointer;
              position: relative;
              padding-left: 25px;
              margin-right: 15px;
              opacity: 0.7;
          } 

          input + label:before {  
              content: "";
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 10px;
              position: absolute;
              left: 0;
              bottom: 1px;
              background-color: #aaa;
              box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3);
              border-radius: 3px;    
          } 

          input[type=checkbox] {
              display: none;
          }

          input[type=checkbox]:checked + label:before {  
              content: "\2713";  
              text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
              font-size: 15px;  
              color: #fff;  
              text-align: center;  
              line-height: 15px;  
          }
        }
      }
      
      .actions input
      {
        width: 340px;
        text-align: center;
        cursor: pointer;
        padding: 16px 0;
        font-family: $body;
        font-size: 24px;
        margin-top: 10px;
        text-transform: uppercase;
        background: #8bb0bf;
        color: #fff;
        border: 0;
        border-radius: 6px;
        position: absolute;
        bottom: 40px;
        
        &:disabled
        {
          background: #ccc;
        }
      }
    }
  }
  
  &.create
  {
    .front .flip-button
    {
      display: none;
    }
  }
  
  &.view
  {
    .actions a
    {
      width: 340px;
      text-align: center;
      cursor: pointer;
      padding: 14px 0;
      font-family: $body;
      font-size: 24px;
      margin-top: 10px;
      text-transform: uppercase;
      background: transparent;
      color: #8bb0bf;
      border: 1px solid #8bb0bf;
      border-radius: 6px;
      position: absolute;
      bottom: 40px;
    }
  }
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#000, 0.6);
  z-index: 20;
  
  .overlay-message
  {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -280px;
    width: 520px;
    height: 240px;
    text-align: center;
    padding: 20px;
    background: #f0eeea;
    border-radius: 10px;
    box-shadow: 0 2px 6px 1px rgba(#000, 0.4);
    
    h3
    {
      font-family: $headings;
      font-weight: normal;
      font-size: 48px;
      margin: 10px 0 0 0;
    }
    
    p
    {
      font-size: 21px;
    }
    
    a.close
    {
      display: block;
      border-top: 1px solid rgba(#000, 0.3);
      padding: 16px;
      font-size: 24px;
      color: rgba(#000, 0.8);
      margin-top: 40px;
    }
  }
}

.page-wrap
{
  overflow: visible;
  
  .header
  {
    @include clearfix;
    margin: 48px 0 40px 0;
  }
  
  h1
  {
    font-family: $headings;
    font-weight: normal;
    font-size: 52px;
    margin: 0 0 0 15px;
    text-align: left;
    float: left;
    width: 540px;
    color: #fff;
    text-shadow: 0 8px 10px rgba(#829fa7, 0.3), 0 3px 6px rgba(#829fa7, 0.5), 0 1px 2px rgba(#55696F, 1);
  }
  
  a.new-drawing
  {
    text-align: center;
    color: #55696F;
    border: 1px solid rgba(#55696F, 0.4);
    border-radius: 10px;
    display: block;
    width: 200px;
    margin: 0 15px 0 0;
    padding: 12px;
    font-size: 18px;
    float: right;
    @include transition(0.3s);
    
    &:hover
    {
      background: rgba(#55696F, 0.1);
    }
  }
  
  .row
  {
    @include clearfix;
    overflow: visible;
    
    .drawing
    {
      padding: 0 13px;
      float: left;
      margin: 0 0 24px 0;
      color: rgba(#000, 0.7);
      @include transform(translate3d(0,0,0));
      @include transition(0.3s);
      
      &:hover
      {
        @include transform(translate3d(0,0,0) scale(1.1) rotate(2deg));
        
        img
        {
          box-shadow: 0 3px 12px rgba(#55696F, 0.6);
        }
      }
      
      img
      {
        border-radius: 4px;
        @include transition(0.5s);
      }
      
      p
      {
        margin: 4px 0 0 0;
        width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

hr.clear
{
  border: 0;
  display: block;
  clear: both;
}