<!DOCTYPE html>
<html>
<head>
  <title>Lekevicius Christmas 2013</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <script src="//use.edgefonts.net/abril-fatface:n4;rosario:n4:all.js"></script>
</head>
<body>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38705998-6', 'lekevicius.com');
    ga('send', 'pageview');
  </script>
<%= yield %>

</body>
</html>
